.btn {
  width: 60px;
  height: 70px;
  background-color: #1C2541;
  color: #6FFFE9;
  border: 2px solid #5BC0BE;
  transition: .5s ease all;
  font-size: 20px;
}
.btn:hover {
  color: #fff;
  font-size: 25px;
}